.modal::backdrop {
    background: rgba(0, 0, 0, .1);
}

.modal {
    padding: 0;
    display: grid;
    grid-gap: 16px;
    border-width: 1px;
    border-color: rgba(0,0,0,.2);
    border-radius: 5px;
    overscroll-behavior: contain;
}

.modal > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-lightGrey);
    padding: 16px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.modal > header > * {
    margin: 0;
    padding: 0;
    background: transparent;
}

.modal > footer {
    border-top: 1px solid var(--color-lightGrey);
    padding: 16px;
    position: sticky;
    bottom: 0;
    background-color: white;
    z-index: 1;
}

.modal > *:not(header, footer) {
    margin-inline: 16px;
}

@media (min-width: 600px) {
    .modal {
        max-width: 500px;
    }
}